.popup__close-button {
  padding: 0;
  position: absolute;
  right: 3px;
  top: -42px;
  align-self: flex-end;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (min-width: 530px) {
  .popup__close-button {
    right: -30px;
    top: -30px;
    width: 32px;
  }
}