.popup__form-button {
  background-color: #000;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  transition: ease-in-out 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  margin-top: 45px;
  position: relative;
}

@media (min-width: 768px) {
  .popup__form-button {
    font-size: 18px;
    line-height: 1.22;
    margin-top: 48px;
  }
}

.popup__form-button:hover {
  opacity: 0.8;
  cursor: pointer;
}