.cards__trash-button {
  position: absolute;
  align-self: flex-end;
  width: 18px;
  height: 19px;
  border: none;
  background: url(/images/trash-icon.svg) center no-repeat;
  background-color: inherit;
  margin: 18px 15px auto auto;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.cards__trash-button:hover {
  opacity: 0.6;
}