.cards__img {
  width: 282px;
  height: 282px;
  object-fit: cover;
  position: relative;
}

/* @media (min-width: 570px) {
  .cards__img {
    /* width: 45vw; */
/*     width: 320px;
    height: 320px;
  }
}
*/ 

/* @media (min-width: 920px) {
  .cards__img {
    width: 282px;
    height: 282px;
  }
} */