.popup__close-button {
  padding: 0;
  position: absolute;
  right: 0px;
  top: -50px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (min-width: 530px) {
  .popup__close-button {
    right: -45px;
    top: -45px;
    width: 55px;
  }
}