.cards__like-button {
  align-self: center;
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  background: url(../../../images/like-icon-disabled.svg) center no-repeat;
  cursor: pointer;
  transition: ease-in-out 300ms;
  
}

.cards__like-button:hover {
  opacity: 0.6;
}