.elements__container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

@media (min-width: 570px) {
  .elements__container {
    justify-content: space-evenly;
  }
}

@media (min-width: 920px) {
  .elements__container {
    justify-content: space-between;
  }
}