.elements__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 282px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media (min-width: 570px) {
  .elements__item {
    width: 45vw;
    max-width: 350px;
    ;
  }
}

@media (min-width: 920px) {
  .elements__item {
    max-width: 282px;
  }
}